@media (max-width: 992px) {

  .slider_section {
    min-height: auto;
  }

  .slider_section .detail-box {
    padding: 90px 0 75px 0;
  }

  .info_main_row>div:nth-child(1) {
    margin-bottom: 25px;
  }

  .info_main_row>div:nth-child(2) {
    margin-bottom: 25px;
  }
}
